 @font-face {
    font-family: "BorderlandsZirJuan.asl";
    src: "BorderlandsZirJuan.asl";
} 

body {
    background-color: salmon; 
    margin: 0;
    font-family: 'BorderlandsZirJuan.asl', sans-serif;    
}

.header {
     background-color: black;
    height: 140px;
    border-bottom: 6px solid black;
    
}

.nav {
    display: grid;
    grid-template-columns: 140px auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
    width: 100%;
}



.logo img {
    max-width: 112px;
    width: 100%;
    margin-top: 10px;
}

.links {
    margin-top: 50px;
    text-align: right;
    color: white;
    
}

.links a{
    color: #FF530D;
    font-size: 30px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
}

.white {
    color: white;
}

.imgContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
}

.imgContainer img {
    max-width: 850px;
    text-align: center;
    grid-column: 2/3;
}

.imgContainerTwo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
    height: 400px;
}

.imgContainerTwo img { 
    padding-right: 100px;
    text-align: center;
    grid-column: 2/3;
    height: 400px;
    object-fit: contain;
    position: relative;
    z-index: 1;
    left: auto;
    top: auto;
}

.Hyp {
    grid-column: 2/3;
    grid-row: 1;
    margin-left: 25vw;
}

.Hyp img {
    width: 600px;
    position: absolute;
    object-fit: contain;
    z-index: 2;
    
}

.descript {
    height: 100px;
    background-color: black;
    text-align: center;
    font-size: 30px;
    padding: 30px;
    color: #FF530D;
}

.stores {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: black;
    padding: 30px;
}

.CoV{
    grid-column: 1;
    grid-row: 1;

}

.Hyperion {
    grid-column: 2;
    grid-row: 1;
}

.Jakobs {
    grid-column: 1;
    grid-row: 2;
}

.Torgue {
    grid-column: 2;
    grid-row: 2;
}

.stores img{
    height: 400px;
    max-width: 850px;
    object-fit: contain;
    position: relative;
    z-index: 1;
    left: auto;
    top: auto;
}

.brandCoV img {
    object-fit: contain;
    position: absolute;
    left: 220px;
    top: 900px;
    z-index: 2;
    width: 400px;
}

.brandHyp img {
    object-fit: contain;
    position: absolute;
    left: 1220px;
    top: 900px;
    z-index: 2;
    width: 300px;
}

.brandJak img {
    object-fit: contain;
    position: absolute;
    left: 220px;
    top: 1270px;
    z-index: 2;
    width: 500px;
}

.brandTor img {
    object-fit: contain;
    position: absolute;
    left: 1200px;
    top: 1300px;
    z-index: 2;
    width: 400px;
}

.storesTwo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: black;
    padding: 50px;
}

.storesTwo img{
    height: 500px;
    max-width: 820px;
    object-fit: contain;
    position: relative;
    z-index: 1;
    left: auto;
    top: auto;
}

.brandCoVTwo img {
    object-fit: contain;
    position: absolute;
    left: 220px;
    top: 900px;
    z-index: 2;
    width: 400px;
}

.brandHypTwo img {
    object-fit: contain;
    position: absolute;
    left: 1220px;
    top: 900px;
    z-index: 2;
    width: 300px;
}

.brandJakTwo img {
    object-fit: contain;
    position: absolute;
    left: 220px;
    top: 1270px;
    z-index: 2;
    width: 500px;
}

.brandTorTwo img {
    object-fit: contain;
    position: absolute;
    left: 1200px;
    top: 1300px;
    z-index: 2;
    width: 400px;
}

